.form-container{
    display:flex;
    justify-content:center;
    padding:40px;
}

.event-form{

    width:600px;
    background:white;
    padding:30px;
    border-radius:12px;
    display:flex;
    flex-direction:column;
    gap:18px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.event-form h2{

    text-align:center;

    margin-bottom:10px;

}

.event-form input,
.event-form textarea{

    padding:12px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:16px;

}

.event-form textarea{

    resize:none;

    height:130px;

}

.event-form button{

    background:#2563eb;

    color:white;

    border:none;

    padding:14px;

    cursor:pointer;

    border-radius:8px;

    font-size:16px;

}

.event-form button:hover{

    background:#1d4ed8;

}