.event-card {
  width: 330px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,.15);
  transition: .3s;
}

.event-card:hover{
  transform: translateY(-6px);
}

.event-header{
  background:#2563eb;
  color:white;
  padding:15px;
}

.event-header h2{
  margin:0;
  font-size:22px;
}

.event-info{
  padding:20px;
}

.event-info p{
  color:#444;
  line-height:1.6;
}

.buttons{
  display:flex;
  justify-content:space-around;
  padding:20px;
}

.edit,
.delete{
  border:none;
  padding:10px 18px;
  border-radius:6px;
  cursor:pointer;
  color:white;
  transition:.3s;
}

.edit{
  background:#2563eb;
}

.edit:hover{
  background:#1d4ed8;
}

.delete{
  background:#dc2626;
}

.delete:hover{
  background:#b91c1c;
}